<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mars Rover Demo</title>

  <link href="site.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Jaldi:400,700" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<head>
<body>
  <nav>
    <div class="title">Taylor Newton Demo</div>
  </nav>
  <h1>Mars Rover Photo of the Day</h1>
  <div id="results"></div>

  <script src="site.js" type='text/javascript'></script>
</body>
</html>